.hedding {
  font-size: 20px;
  color: $orange;
}

.main-section {
  width: 100%;
}

.left-side-product-box img {
  width: 100%;
}

.right-side-pro-detail span {
  font-size: 15px;
}

.right-side-pro-detail p {
  font-size: 25px;
  color: #a1a1a1;
}
